/* Add vendor prefixes for browser compatibility if necessary */

.relative {
    position: relative;
  }
  
  .hover-flip {
    transform-style: preserve-3d;
    transition: transform 2s ease;
    transform: rotateY(180deg);
  }
  
  .hover-flip:hover {
    transform: rotateY(360deg);
  }
  
  /* Hide and show images based on hover state */
  .hidden {
    display: none;
  }
  
  .block {
    display: block;
  }
  

  .about-block{
    border: 3pt solid red;
    height : 50rem;
  }

  .about-content{
    border: 3pt solid black;
    margin-top: -30%;
  }

  .about-image{
    border: 3pt solid blue;
    
    height: 40rem;
  }