.navBlock {
    background-image: url('../../assets/fbg2.jpg');
    background-size: cover;
    width: 100%;
    height: auto; /* Adjust height to auto for responsiveness */
    min-height: 90vh; /* Ensure minimum height of 100vh */
    display: flex;
    right: 0;
    padding: 20px; /* Add padding for spacing */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .navBlock {
        padding: 10px; /* Adjust padding for smaller devices */
    }
}
